body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #666;
	padding: 0px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif;    
}
.caption-background{
	background: #000;
	display: inline-block;
	padding: 0 10px !important;

}
.slide-image{

height=100%;
width=100%;
margin: auto;
}
.caption-background h3{
 font-size: 14px;
}
.caption-background p{
 font-size: 10px;
}
.image-link{
	height: 300px;
	width: 300px;
}
